:root {
    --font-family: 'Roboto', arial;
    --main-color: #FFBF69;

    --color: black;
    --secondary-color:white;
    
    --smaller-font: 0.9rem;
    --important-font: 1.2rem;
    --very-important-font: 1.5rem;
  }

body {
    font-family: var(--font-family);
    margin: 0; padding: 0;
    /*display: flex;*/
    box-sizing: border-box;
    font-weight: bold;
    
}

.main {
    display:flex;
}

.side {
    max-width: 40vw;
    width: 100%;
}
.side > div {
    margin-left:40px;
}

.sideHeader {
    max-width: 40rem;
}

.main-form p, a {
    font-size: var(--important-font);
    text-decoration: none;
}

.main-form a {
    color: var(--main-color);
}

.form-inputs {
    width: 100%;
    padding:30px;
    margin-bottom: 20px;
    margin-left: -40px;
    background-color: var(--secondary-color);
}

.form-inputs h2{
    margin-top: 0;
}

.form-inputs {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:100%;
    color:var(--color);
}

.sign-up-row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.sign-up-row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
  margin-right: 7px;
}

.sign-up-row input:invalid{
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.sign-up-row input:focus:invalid {
    outline: none;
  }

.sign-up-item {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-top: 7px;
    padding-right: 15px;
    letter-spacing: 2.5px;
    font-size: var(--smaller-font);
  }

button {
    padding: 12px 23px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.buttonSignUp {
    background-color: var(--main-color);
    color:var(--color);
    font-size: var(--important-font);
    font-weight: bolder;
}

.bg-container {
    
}

.imageContainer {
    width:45vw; 
    height:100vh; 
    background-image: url('images/background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer .imageBanner {
    margin-bottom: auto;
    margin-top:auto;

    text-align: center;
    letter-spacing: 8px;
    font-size: var(--very-important-font);
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
}

.imageContainer a {
    color: var(--color);
    text-decoration: underline;
}

@media (max-width: 600px) {
    .imageContainer {
      display: none;
    }
    body {
        background-image: url('images/background.jpg');
        background-size: cover; 
    }
    .side {
        max-width: 100%;
        width: 100%;
        color: var(--secondary-color);
    }

    .side > div {
        margin-left:0;
    }

    .sideHeader {
        background-color: rgba(0, 0, 0, 0.35);
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-size:0.9rem;
    }

    .form-inputs {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .sign-up-row, .sign-up-item {
        width: 90%;
    }
    .sign-up-row input {
        width: 100%;
      }

    label {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .signUpButtonDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.35);
        padding-top: 10px;
    }
  }