:root,
:root.light {
    --font-family: 'Roboto', arial;
    --main-color: #FFBF69;
    --light-main-color: #ffcc8a;
    --darker-main-color: #ffa939;

    --color: black;
    --secondary-color: white;

    --background-color: #FFFFFF;
    --background-image: url('images/background.jpg');
    --image-author: 'Julian Hochgesang';
    --image-link: '';

    --very-smaller-font: 0.7rem;
    --smaller-font: 0.8rem;
    --important-font: 1.2rem;
    --very-important-font: 1.5rem;
    --margin-sider: 25px;
}

:root.dark {
    --main-color: #857dcc;
    --light-main-color: #948ec9;
    --darker-main-color: #6d63c9;
    ;

    --color: white;
    --secondary-color: black;

    --background-color: #24252f;
    --background-image: url('images/backgroundnight.jpg');
    --image-author: 'Raphael Nogueira';
    --image-link: '';
}

.header {
    position: fixed;
    right: 0;
}

.unFilledIcon {
    font-variation-settings: 'FILL' 0;
    color: black;
}

.filledIcon {
    font-variation-settings: 'FILL' 1;
    color: white;
}

#themeButton {
    background: none;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    /*display: flex;*/
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-weight: normal;
    font-size: 1.3rem;
}

form {
    width: 100%;
}

.main {
    display: flex;
    min-height: 100vh;
}

.imageContainer {
    width: 45vw;
    height: auto;

    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer .imageBanner {
    margin-bottom: auto;
    margin-top: auto;

    text-align: center;
    letter-spacing: 8px;
    font-size: var(--very-important-font);
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
}

.imageContainer p,
a {
    color: var(--color);
}

.imageContainer a {
    text-decoration: underline;
}

#imageAuthor::after {
    content: var(--image-author);
}
/*#imageLink {
    content: var(--image-link);
}*/

.side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--color);
}

.sideHeader {
    max-width: 40rem;
    margin-left: var(--margin-sider);
    /*font-size: min(150px, 100%);*/
}

.sideHeader>:first-child {
    margin-top: 0;
}

.sideHeader h3 {
    font-weight: bold;
}

h3>span {
    font-size: var(--very-smaller-font);
}

.main-form p,
a {
    font-size: 1rem;
}

.main-form a {
    color: var(--darker-main-color);
    font-weight: bolder;
}

.form-inputs h2 {
    margin-top: 0;
}

.form-inputs {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--color);
    padding: 30px;
    margin-bottom: 20px;
    background-color: var(--background-color);
}

.sign-up-row {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.sign-up-row input {
    background-color: var(--background-color);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;
    margin-right: 7px;
}

.sign-up-row input.correctField {
    border: 1px solid green;
    box-shadow: none;
    /* Remove default red glow in Firefox */
}

.sign-up-row input.invalid {
    border: 1px solid red;
    /*color: #D55C5F;*/
    box-shadow: none;
    /* Remove default red glow in Firefox */
}

.sign-up-row input.invalid:focus {
    outline: none !important;
}

.sign-up-row input:focus {
    outline: none;
    border: 1px solid var(--main-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sign-up-item {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-top: 7px;
    padding-right: 15px;
    letter-spacing: 2.5px;
    font-size: var(--smaller-font);
    text-transform: uppercase;
}

label>span {
    font-weight: normal;
    font-size: 0.2rem;
}

.sign-up-row span {
    width: 300px;
    font-weight: normal;
    font-size: 0.8rem;
}

span.error {
    color: red;
}

span.correct {
    color: green;
}

.signUpButtonDiv {
    margin-left: var(--margin-sider);
}

.signUpButtonDiv p:last-child {
    margin-bottom: 0;
}

button {
    padding: 12px 23px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.buttonSignUp {
    background-color: var(--main-color);
    color: var(--color);
    font-size: var(--important-font);
    font-weight: bolder;
}

.buttonSignUp:hover {
    background-color: var(--light-main-color);
}

@media (max-width: 600px) {
    .imageContainer {
        display: none;
    }
    .unFilledIcon {
        font-variation-settings: 'FILL' 0;
        color: white;
    }
    body {
        background-image: var(--background-image);
        background-size: cover;
    }

    .main {
        width: 100vw;
    }

    .side {
        max-width: 100%;
        width: 100%;
        color: var(--color);
        background: none;
    }

    .sideHeader {
        color: white;
        background-color: rgba(0, 0, 0, 0.35);
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-size: 0.9rem;
        margin-left: 0;
    }

    .form-inputs {
        margin-bottom: 0;
    }

    .sign-up-row,
    .sign-up-item {
        width: 90%;
    }

    .sign-up-row input {
        width: 100%;
    }

    label {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .signUpButtonDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.35);
        padding-top: 10px;
        margin-left: 0;
        padding-bottom: 15px;
    }

}